*
!/.gitignore
!/default/
!/default/comfy.settings.json
!/default/workflows/
!/default/workflows/**/
!/default/workflows/**/*.json
!/default/workflows/**/*.txt
!/default/workflows/**/*.md
!/default/workflows/**/*.url
!/default/workflows/**/*.py
!/default/workflows/**/*.ps1
!/default/workflows/**/*.bat
!/default/workflows/**/*.yaml
!/default/workflows/**/*.yml
!/default/workflows/**/*.toml
!/default/workflows/**/*.ini
!/default/workflows/**/*.cfg
!/default/workflows/**/*.js
!/default/workflows/**/*.css
!/default/workflows/**/*.html
!/default/workflows/**/.gitattributes
!/default/workflows/**/.gitignore